<div class="container my-4">
  <p><strong>Nome: </strong><%= @processo.nome %></p>
  <p><strong>Órgão 1: </strong><%= @processo.orgao1 %></p>
  <p><strong>Órgão 2: </strong><%= @processo.orgao2 %></p>
  <p><strong>Gestor do Processo 1: </strong><%= @processo.gestor_processo_1 %></p>
  <p><strong>Gestor do Processo 2: </strong><%= @processo.gestor_processo_2 %></p>
  <p><strong>Servidor Responsável: </strong><%= @processo.servidor_responsavel %></p>
  <p><strong>Objetivo Estratégico Associado: </strong><%= @processo.objetivo_estrategico_associado %></p>
  <p><strong>Embasamento Legal: </strong><%= @processo.embasamento_legal %></p>
  <p><strong>Sistemas Utilizados: </strong><%= @processo.sistemas_utilizados %></p>
  <p><strong>Partes Interessadas: </strong><%= @processo.partes_interessadas %></p>
</div>
